<form name="form" #f="ngForm" (ngSubmit)="f.form.valid && signin()" novalidate>
  <md-toolbar color="primary">
    <div class="md-toolbar-tools">
      <h2>用户登录</h2>
      <span flex></span>
      <button mdbutton ng-click="dialog.close()">
        <md-icon md-svg-src="" aria-label="关闭"></md-icon>
      </button>
    </div>
  </md-toolbar>
      
  <div>
    <br />
    <md-input-container class="full-width">
      <input type="text" mdInput [(ngModel)]="model.username" name="username" #username="ngModel" 
        placeholder="用户名/邮箱" (keyup)="clearMessages()" md-autofocus required>
    </md-input-container>
    <br />
    <md-input-container class="full-width">
      <input type="password" mdInput [(ngModel)]="model.password" name="password" #password="ngModel" 
        placeholder="密码" (keyup)="clearMessages()" required>
    </md-input-container>
    <br />
    <div *ngIf="errorMessages.length > 0" color="warn">
      <div *ngFor="let errorMessage of errorMessages">
          <small>{{ errorMessage.description }}</small>
      </div>
    </div>
    <br />
  </div>
  <div class="full-width">
    <a href="" class="primary">忘记密码？</a>
    <span flex></span>
    <button md-raised-button color="accent" type="submit">登录</button>
  </div>
</form>