<form name="form" #f="ngForm" (ngSubmit)="f.form.valid && signin()" novalidate>
  <md-toolbar color="primary">
    <div class="md-toolbar-tools">
      <h2>用户登录</h2>
      <span flex></span>
      <button mdbutton ng-click="dialog.close()">
        <md-icon md-svg-src="" aria-label="关闭"></md-icon>
      </button>
    </div>
  </md-toolbar>
      
  <div>
    <br />
    <md-form-field class="full-width">
      <input type="text" mdInput name="username" 
        placeholder="邮箱" (keyup)="clearMessages()" type="email"
        
        md-autofocus required>
      <md-error *ngIf="emailFormControl.hasError('pattern')">
          Please enter a valid email address
      </md-error>      
    </md-form-field>
    <br />
    <md-form-field class="full-width">
      <input type="password" mdInput name="password"
        placeholder="密码" (keyup)="clearMessages()" required>
    </md-form-field>
    <br />
    <div *ngIf="errorMessages.length > 0" color="warn">
      <div *ngFor="let errorMessage of errorMessages">
          <small>{{ errorMessage.description }}</small>
      </div>
    </div>
    <br />
  </div>
  <div class="full-width">
    <a href="" class="primary">忘记密码？</a>
    <span flex></span>
    <button md-raised-button color="accent" type="submit">登录</button>
  </div>
</form>