<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>有什么不同</title>
    <base href="/">
    <script type="text/javascript" src="assets/js/msal.js"></script>
    <link rel="icon" type="image/x-icon" href="assets/logo@x.png">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <link href="https://cdn.quilljs.com/1.2.2/quill.snow.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css" rel="stylesheet">
    <script defer="defer" src="https://use.fontawesome.com/releases/v5.0.1/js/all.js"></script>
    <link href="styles.6f305567a88680658d98.bundle.css" rel="stylesheet" />
</head>
<body>
    <app-root></app-root>
    <script type="text/javascript" src="inline.aaf203052456324f76d9.bundle.js"></script>
    <script type="text/javascript" src="polyfills.fc5b1c3a1cd0d81d158b.bundle.js"></script>
    <script type="text/javascript" src="main.fe6cb4f94e9fe09d7e35.bundle.js"></script>
</body>
</html>